{% load static %}
<!--Встроенные теги и фильтры шаблонов в следующем патче уберу-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{%static 'vendor\css\style.css'%}">
	</head>
	<body>
		<form class="box" action="{% url 'users:registration' %}" method="post">
			{% csrf_token %}
			<a href="{% url 'users:login'%}">Login</a><br>
			<a href="{% url 'users:registration'%}" style="font-size: 25px; color: #FF7043;">Registration</a>
			<div>
				<label for="{{ form.username.id_for_label }}"></label>
				{{ form.username }}
			</div>
			<!-- <input class="data" type="password" placeholder="Password">
			<input class="data" type="password" placeholder="Confirm Password"> -->
			{{ form.password1 }}
			{{ form.password2 }}
			<input type="submit" value="Login">
		</form>
	</body>
</html>